---
import Footer from "../components/layouts/Footer.astro";
import Header from "../components/layouts/Header.astro";
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/img/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Confort Art</title>
	</head>
	<body>
		<Analytics/>
		<SpeedInsights/>
		<Header />
		<!-- Aquí se muestra el header -->
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
